doctype html
html
  head
    meta(charset="utf-8")
    title 登陆
    link(type="text/css", rel="stylesheet", href="stylesheets/signin.css")
    link(type="text/css", rel="stylesheet", href="stylesheets/common.css")
  body
    #content
      form(style="margin-top:70px;", method="post")
        .form_line
          .form_label 昵称：
          input(type="text", name="name")
        .form_line
          .form_label
          button.button.gray(type="submit") 登录

